.media-controls-container {
  text-align: center;
  font-family: Georgia, serif;
  color: #333;
}

.current-song-info {
  margin-bottom: 20px;
}

.current-song-info h3 {
  margin: 0;
  font-size: 1.5em;
  color: #1db954;
}

.current-song-info p {
  margin: 5px 0;
  font-size: 1em;
  color: #666;
}

.media-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.media-controls button {
  padding: 10px 15px;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  color: white;
  background-color: #1db954;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.media-controls button:hover {
  background-color: #14833b;
}

.media-controls button:active {
  background-color: #0f5f28;
}
