/* app.css */
.container {
  display: flex;
  flex-direction: column; /* Stack everything vertically */
  align-items: center;
}

.main-content {
  display: flex; /* Align "Now Playing" box and webcam feed side by side */
  justify-content: space-between; /* Space between the two components */
  width: 100%; /* Full width */
  max-width: 1200px; /* Limit the width for better responsiveness */
  margin-bottom: 10px; /* Space between the content and the buttons */
}

.song-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* Align the song info to the left */
  margin: 30px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 45%; /* Make it occupy 45% of the space */
}

.webcam-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  width: 45%; /* Make it occupy 45% of the space */
}

.webcam-container h3 {
  margin: 0 0 10px 0; /* Reduce space below the heading */
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0c703c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Styling for the "Now Playing" box and album cover */
.song-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.album-cover {
  margin-right: 20px;
}

.album-cover img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.song-details h2 {
  font-size: 1.5rem;
  margin: 0;
}

.song-details .artists {
  font-size: 1rem;
  margin: 5px 0;
  opacity: 0.8;
}

.song-details .album {
  font-size: 1rem;
  font-style: italic;
  opacity: 0.7;
}

.gesture-notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: slideUp 0.5s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
